
python/aulas-python/.idea/workspace.xml
python/aulas-python/.idea/workspace.xml
python/desafios-pyhton/.idea/desafios-pyhton.iml
python/aulas-python/.idea/workspace.xml
python/desafios-pyhton/.idea/inspectionProfiles/profiles_settings.xml
python/aulas-python/.idea/workspace.xml
python/desafios-pyhton/.idea/vcs.xml
python/desafios-pyhton/.idea/modules.xml
python/desafios-pyhton/.idea/misc.xml
python/aulas-python/.idea/workspace.xml
python/desafios-pyhton/.idea/workspace.xml
python/aulas-python/.idea/workspace.xml
python/desafios-pyhton/desafios-python/.idea/desafios-python.iml
python/desafios-pyhton/desafios-python/.idea/inspectionProfiles/profiles_settings.xml
python/desafios-pyhton/desafios-python/.idea/vcs.xml
